name: release

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install github-release
      run: |
        wget -O - -o /dev/null https://github.com/github-release/github-release/releases/download/v0.9.0/linux-amd64-github-release.bz2 | bunzip2 | sudo tee /usr/local/bin/github-release
        sudo chmod 0755 /usr/local/bin/github-release

    - name: Build kernel
      run: |
        make

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Publish release
      run: ${PWD}/scripts/publish
      env:
        GITHUB_TOKEN: ${{ secrets.OS_RPI_KERNEL_RELEASE_TOKEN }}
